# Backend config
DJANGO_ENV='production'
DJANGO_ALLOWED_HOSTS='*'
DEFAULT_TIME_ZONE='UTC'
DJANGO_SECRET_KEY='incyberpunkyouneversleep'
MEDIA_ROOT='/media/app_media/'

# Site config
SITE_NAME='Birthday Reminder'
ADMIN_SITE_HEADER='Birthday Reminder Admin'
API_BROWSER_HEADER='Birthday Reminder Admin'

# Database config
DATABASE_NAME='birthday'
DATABASE_OWNER='birthday'
DATABASE_PASSWORD='simpletone'
DATABASE_HOST='db'
DATABASE_PORT=5432
